.newsletter {
  &__content {
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    text-align: center;
  }

  &__form {
    padding: 80px 0 0;
  }
}
