// font family bold
@font-face {
  font-family: 'Montserrat-bold';
  src: url(../assets/fonts/Montserrat-Bold.ttf) format('truetype');
}

// font family Semibold
@font-face {
  font-family: 'Montserrat-semibold';
  src: url(../assets/fonts/Montserrat-SemiBold.ttf) format('truetype');
}

// font family base
@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/Montserrat-Medium.ttf) format('truetype');
}

/* variable font-family */
$font-family-primary: 'Montserrat-semibold';
$font-family-tertiary: 'Montserrat-bold';
$font-family-secondary: 'Montserrat';

* {
  font-family: $font-family-primary;
}
