.btn {
  color: $text-light-color;
  border-radius: $btn-border-radius-sm;
  margin: 3px;
  font-family: $font-family-primary;
  font-size: $font-size-xsm;

  &:hover {
    opacity: 0.9;
  }

  &__primary {
    border: none;
    background-color: $color-primary;
  }

  &__secondary {
    @extend .btn__primary;
  }

  &__tertiary {
    margin: 0 auto;
    color: $color-primary;
    background-color: transparent;
    border: none;

    &:hover {
      opacity: 0.8;
    }
    @include desktop {
      margin:0 28px 0 0;
    }
  }

  &__quaternary {
    color: $color-primary;
    background-color: $color-light;
    border: 1px solid $color-primary;
  }

  &__quinary {
    @extend .btn__quaternary;
    border-radius: 37px;
  }

  &--xs {
    padding: 10px 4px;

    @include desktop {
      padding: 15px 5px;
    }
  }

  &--sm {
    width: 125px;
    padding: 8px 15px;

    @include desktop {
      width: 100px;
      padding: 10px 0px;
    }
  }

  &--md {
    padding: 8px 18px;

    @include tablet {
      padding: 13px 20px;
    }

    @include desktop {
      padding: 15px 25px;
    }
  }

  &--lg {
    padding: 10px 30px;

    @include tablet {
      padding: 12px 35px;
    }

    @include desktop {
      padding: 15px 40px;
    }
  }

  &__group {
    @include tablet {
      margin: 0 5px 0 25px;
    }
    @include desktop {
      margin: 0 76px 0 225px;
    }
  }
}
