.btn {
  color: $text-light-color;
  border-radius: $btn-border-radius-sm;
  padding: 15px 25px;
  font-size: $font-size-xsm;

  &__primary {
    border: none;
    background-color: $color-primary;
  }
}