.icon {
  &__bars {
    margin: 15px;
    font-size: 30px;
    color: $color-secondary;
  }

  &__arrow {
    padding-left: 3px;
    @include tablet {
      padding-left: 6px;
    }

    @include desktop {
      padding-left: 15px;
    }
  }
}
