.list {
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 50px;
  }

  @include desktop {
    margin: 0 0 0 80px;
  }
  &--column {
    flex-direction: column;
  }
}
