.list {
  @include tablet {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }

  @include desktop {
    margin-left: 80px;
  }
  &--column {
    flex-direction: column;
  }
}
