.list-item {
  padding: 12px 0;
  
  &__link {
    color: $paragraph-color;
    margin: 80px 0;
    font: {
      family: $font-family-tertiary;
      size: $font-size-xsm;
    }

    &:hover {
      color: $color-primary;
    }

    @include tablet {
      padding: 0;
      margin-left: 35px;
    }

    @include desktop {
      margin: 0 21px 0 0;
    }
  }
}
