.navigation {
  padding: 0;
  margin: 0;

  @include tablet {
    display: flex;
    height: 85px;
    align-items: center;
    justify-content: space-around;
  }

  @include desktop {
    height: 91px;
    align-items: center;
  }
}