.typo {
  &__tag {
    width: 147px;
  }

  &__head {
    width: 542px;
    text-align: center;

    @include desktop {
      text-align: start;
    }
  }

  &__sub {
    width: 280px;
    text-align: center;
    margin: 0 auto;

    @include desktop {
      margin: 0;
      text-align: start;
    }
  }

  &__sub {
    &--light {
      width: 463px;
      text-align: center;
      margin: 0 auto;

      @include desktop {
        margin: 0;
        text-align: start;
      }
    }
  }

  &__feature {
    width: 221px;
    text-align: center;
    margin: 0 auto;

    @include desktop {
      margin: 0;
      text-align: start;
    }
  }

  &__title {
    width: 250px;
    margin: 0 auto;
    text-align: center;

    @include desktop {
      margin: 0;
      text-align: start;
    }
  }

  &__primary {
    color: $color-primary;
  }

  &__secondary {
    color: $color-secondary;

    &--light {
      color: $color-light;
    }
  }

  &__paragraph {
    color: $paragraph-color;
  }

  &__semibold {
    font-family: $font-family-primary;
  }

  &__bold {
    font-family: $font-family-tertiary;
  }

  &__medium {
    font-family: $font-family-secondary;
  }

  &__regular {
    font-family: $font-family-quaterdary;
  }

  &__xs {
    font-size: $font-size-xsm;
  }

  &__sm {
    font-size: $font-size-xsm;

    @include tablet {
      font-size: $font-size-sm;
    }
  }

  &__md {
    font-size: $font-size-lg;
    @include tablet {
      font-size: $font-size-md;
    }
  }

  &__lg {
    font-size: $font-size-lg;

    @include tablet {
      font-size: $font-size-xlg;
    }
  }

  &__xl {
    font-size: $font-size-xlg;

    @include tablet {
      font-size: $font-size-xl;
    }
  }

  &__xxl {
    font-size: $font-size-xxl;

    @include tablet {
      font-size: $font-size-xxxl;
    }
  }
}
