#root {
  max-width: 1280px;
  margin: 0 auto;
  color: var(--haha);
  padding: 2rem;
  text-align: center;
}

.header {
  font-size: 40px;
}

.toggle {
  background-color: #fff;
  padding: 20px;
  font-size: 23px;
  font-weight: 700;
  color: red;
  border: none;
  border-radius: 9px;
  margin-right: 6px;
}
